<div class="card" *ngFor="let flight of flights">
  <div class="mainFlightInfo">
    <div class="mainInfo">
      <div class="main">
        <h2>AWB:{{ flight.id }}</h2>
        <app-button [text]="'EAWB'"></app-button>
        <app-button [text]="'Qualified'"></app-button>
        <app-button [text]="'Partner'"></app-button>
      </div>

      <div class="additional">
        <app-info [info]="flight.product" [title]="'Product'"></app-info>
        <app-info [info]="flight.shc" [title]="'SHC'"></app-info>
        <app-info
          [info]="flight.ancillaries"
          [title]="'Ancillaries'"
        ></app-info>
        <app-info [info]="flight.shipper" [title]="'Shipper'"></app-info>
        <app-info [info]="flight.forwarder" [title]="'Forwarder'"></app-info>
      </div>
    </div>

    <div class="flightInfo">
      <div class="left">
        <div class="top">
          <span class="direction"> {{ flight.from }}</span>
          <img [src]="flight.imgURL" class="img" />
          <span class="direction">{{ flight.to }}</span>
        </div>
        <div class="bottom">
          <span class="airplaneInfo">{{ flight.airplaneType }}</span>
        </div>
      </div>

      <div class="right">
        <span class="title">
          Total Milestones
          <span class="text"> {{ flight.milestones.length }}</span>
        </span>

        <app-category
          [number]="atRisk"
          [title]="'At Risk'"
          [class]="'atRisk'"
        ></app-category>
        <app-category
          [number]="failed"
          [title]="'Failed'"
          [class]="'failed'"
        ></app-category>
        <app-category
          [number]="success"
          [title]="'Success'"
          [class]="'success'"
        ></app-category>
        <app-category
          [number]="missing"
          [title]="'Missing'"
          [class]="'missing'"
        ></app-category>
        <app-category
          [number]="upcoming"
          [title]="'Upcoming'"
          [class]="'upcoming'"
        ></app-category>
      </div>
    </div>
  </div>

  <div class="timeInfo">
    <div class="iconContainer">
      <span
        *ngFor="let item of flight.milestones"
        class="flightIcons"
        [ngClass]="{
          green: item.status === 'Success',
          orange: item.status === 'AtRisk',
          red: item.status === 'Failed',
          blue: item.status === 'Missing',
          gray: item.status === 'Upcoming'
        }"
      >
        {{ item.code }}
      </span>
    </div>

    <div class="cardHolder">
      <div class="leftWrapper">
        <app-time-card
          [arrival]="'Last Achieved'"
          [code]="flight.accieved.code"
          [img]="true"
          [type]="'Actual Time'"
          [time]="flight.accieved.time"
          color="green"
          [status]="flight.accieved.status"
        ></app-time-card>

        <app-time-card
          [arrival]="'Next Upcoming'"
          [code]="flight.upcoming.code"
          [img]="true"
          [type]="'Planned Time'"
          [time]="flight.upcoming.time"
          color="blueviolet"
          [status]="flight.upcoming.status"
        ></app-time-card>
      </div>

      <div class="rightWrapper">
        <app-time-card
          [arrival]="'Total Transportation Time'"
          [img]="false"
          [time]="flight.totalTime"
          color="rgb(77, 78, 100)"
        ></app-time-card>
      </div>
    </div>
  </div>
</div>
