<div class="card" *ngFor="let flight of flights">
  <div class="mainFlightInfo">
    <div class="mainInfo">
      <div class="main">
        <h2>AWB:{{ flight.id }}</h2>
        <app-button [text]="'EAWB'"></app-button>
        <app-button [text]="'Qualified'"></app-button>
        <app-button [text]="'Partner'"></app-button>
      </div>

      <div class="additional">
        <app-info [info]="flight.product" [title]="'Product'"></app-info>
        <app-info [info]="flight.shc" [title]="'SHC'"></app-info>
        <app-info [info]="flight.ancillaries" [title]="'Ancillaries'"></app-info>
        <app-info [info]="flight.shipper" [title]="'Shipper'"></app-info>
        <app-info [info]="flight.forwarder" [title]="'Forwarder'"></app-info>
      </div>
    </div>

    <div class="flightInfo">

      <div class="left">
        <div class="top">
          <span class="direction"> {{ flight.from }}</span>
          <img [src]="flight.imgURL" class="img" />
          <span class="direction">{{ flight.to }}</span>
        </div>
        <div class="bottom">
          <span class="airplaneInfo">{{ flight.airplaneType }}</span>
        </div>
      </div>

      <div class="right">
        <span class="title"> Total Milestones
          <span class="text"> {{ total }}</span>
        </span>
<!-- enum for titles -->
        <span class="dotAtRisk"></span>
        <span class="title"> At Risk 
          <span class="text"> {{ flight.milestones.atRisk.length }}</span>
        </span>

        <span class="dotFailed"></span>
        <span class="title">Failed 
          <span class="text">{{ flight.milestones.failed.length }}</span>
        </span>

        <span class="dotSuccess"></span>
        <span class="title">Success
          <span class="text">{{ flight.milestones.success.length }}</span>
        </span>

        <span class="dotMissing"></span>
        <span class="title">Missing
          <span class="text">{{ flight.milestones.missing.length }}</span>
          </span>

        <span class="dotUpcoming"></span>
        <span class="title">Upcoming
          <span class="text">{{ flight.milestones.upcoming.length }}</span>
          </span>
      </div>
    </div>
  </div>

  <div class="timeInfo">
    <div class="iconContainer">
      <span *ngFor="let item of flightsTitles" class="flightIcons">
        {{ item.name }} 
      </span>
    </div>
    
    <div class="cardHolder">
      <div class="card">
        <span class="achived"
          >Last Achieved &nbsp; {{flight.accieved.code}}
          <img width="20" src="../../assets/img/plane.png" class="planeImg"
        /></span>
        <span class="time">Actual Time &nbsp;{{ flight.accieved.time }}</span>
      </div>
      <div class="card">
        <span class="achived" [ngStyle]="{ color: 'blueviolet' }"
          >Next Upcoming &nbsp; {{flight.upcoming.code}}
          <img width="20" src="../../assets/img/plane.png" class="planeImg"
        /></span>
        <span class="time">Planned Time &nbsp;{{ flight.upcoming.time }}</span>
      </div>
      <div class="card">
        <span class="achived" [ngStyle]="{ color: 'rgb(77, 78, 100)' }"
          >Total Transportation Time</span
        >
        <span class="time">{{ flight.totalTime }}</span>
      </div>
    </div>
  </div>
</div>
