.button {
  font-size: 11px;
  font-weight: bold;
  color: rebeccapurple;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rebeccapurple;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 5px;

  &:hover {
    background-color: rgb(236, 207, 245);
  }
}
